<h1>Profile Page</h1>
<h2><a href="/users/<%=current_user.username%>">Home</h2></a>
<br>

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap">

<div class="card">
  <img src="/images/fitness-potato.png" alt="potato" style="width:100%">
  <h2>@<%=@user.username%></h2>
  <p class="title"> Title: <%=@user.title%></p>
  <p>    EXP   : <%=@user.exp%></p>
  <a href="#"><i class="fa fa-dribbble"></i></a>
  <a href="#"><i class="fa fa-twitter"></i></a>
  <a href="#"><i class="fa fa-linkedin"></i></a>
  <a href="#"><i class="fa fa-facebook"></i></a>
  <p><a href="/entries"><button>All Entries</button></a></p>
  <% if current_user.id == @user.id  %>
  <p><a href="/users/<%=@user.username%>/edit"><button>Edit Profile</button></a></p>
    <p><a href="/entries/new"><button>New Log</button></a></p>
    <p><a href="/logout"><button>Log Out</button></a></p>
  <% end %>
</div>



<h1>Your Entries</h1>
<% @entries.each do |entry| %>
  <div id="<%=entry.id%>" class="entry">
    <ul>
      <li> Workout Calories: <%= entry.workout_calories %> </li>
      <li> Food Calories: <%= entry.food_calories %></li>
      <li> Net Calories: <%= entry.net_calories %> </li>
      <li> Food: <%= entry.food %> </li>
    </ul>
    <br>
    <% if current_user.id == @user.id  %>
    <p><a href="/entries/<%=entry.id%>/edit"> Edit Entry </a></p>
    <% end %>
  </div>
  <br>
  <br>
<%end%>
